.donut {
  width: 50px;
}
.donutParent {
  padding-top: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2px;
}
.headings {
  padding-top: 15px;
}

.portfolio {
  font-weight: bold;
}
